# All possible variable are not referenced but there should not be more variables than that in the test environment.

# Indicate Node.js that we are in a test environment
NODE_ENV=test

# Test database credentials (mysql://user:pass@host/db)
DATABASE_URL=mysql://root:root@localhost/arena_test
