# All possible variable are not referenced but there should not be more variables than that in the test environment.

# Indicate Node.js that we are in a test environment
NODE_ENV=test

# Test database credentials (mysql://user:pass@host/db)
DATABASE_URL=mysql://dev:dev@localhost/arena_test

LOG_LEVEL=silly
LOG_IN_TEST=false

BADGE_RESTRICTED="iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAAGUlEQVR4nGKx7bjEgBsw4ZEbwdKAAAAA///6GgGuGj+3XAAAAABJRU5ErkJggg=="
BADGE_RESTRICTED_BACK=${BADGE_RESTRICTED}
BADGE_FULLACCESS=${BADGE_RESTRICTED}
BADGE_FULLACCESS_BACK=${BADGE_RESTRICTED}
BADGE_ORGAPRICE=${BADGE_RESTRICTED}
BADGE_ORGAPRICE_BACK=${BADGE_RESTRICTED}
BADGE_INVITE=${BADGE_RESTRICTED}
BADGE_INVITE_BACK=${BADGE_RESTRICTED}