# All possible variable are not referenced
# The possible variables can be seen in the src/utils/env.ts file

# Indicate Node.js that we are in a development environment
NODE_ENV=development

# Define the port on which to listen
API_PORT=3000

# Define API URL prefix
API_PREFIX=/

# JsonWebToken configuration
JWT_SECRET=someRandomString64Bytes
JWT_EXPIRES=7 days

# Slack oauth token (begins by xoxb)
SLACK_TOKEN=
SLACK_CONTACT_CHANNEL=

# Database credentials (mysql://user:pass@host/db)
DATABASE_URL=mysql://root:root@localhost/arena

# Used in mail templates
ARENA_WEBSITE=http://localhost:8080

# SMTP server configuration
#     You can use Nodemailer App (https://nodemailer.com/app/) if you are not at the UTT
#     Just copy the HOST, PORT, USER and PASSWORD given by Nodemailer App
MAIL_HOST=smtp://smtp.utt.fr
MAIL_PORT=25
MAIL_USER=
MAIL_PASSWORD=

# Used to give a discount on tickets
PARTNER_MAILS=utt.fr,utc.fr,utbm.fr

# Etupay credentials and configuration
ETUPAY_ID=
ETUPAY_KEY=

# Toornament credentials
TOORNAMENT_CLIENT_ID=
TOORNAMENT_CLIENT_SECRET=
TOORNAMENT_KEY=

# Discord
DISCORD_TOKEN=
DISCORD_SERVER=

LOG_LEVEL=verbose
LOG_IN_TEST=false