# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
.nyc_output
coverage
yarn-error.log

# misc
.DS_Store
.env
/dbml

# IDE Configs
/.idea

/local

openapi.json

/docs/build