# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
.nyc_output
coverage
pnpm-error.log

# misc
.DS_Store
.env
.env.test
/dbml

# IDE Configs
.idea
.vscode

/local

openapi.json

/docs/build