# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
.nyc_output
yarn-error.log

# misc
.DS_Store
.env

# IDE Configs
/.idea

out.csv