language: node_js

node_js:
  - 'lts/*'

services:
  - mysql

branches:
  only:
    - master
    - dev

cache: yarn

before_install:
  - mysql -e 'CREATE DATABASE arena_test CHARACTER SET utf8;'
  - mysql -u travis arena_test < seed.sql

script:
  - yarn
  - yarn api-check
  - yarn lint
  - yarn test
  - yarn build

notifications:
  slack:
    secure: 'O2BCV7G3V4OE6jvSsycv7yf8zGCDzcrH0stqqtG3efH9rXF2uiCWP9fiO7/1xzuDIau+zfJMk6ZDcBwQ1rc417l4EocVERH1AZKGl1/6gsItJsd8aUy+/51BexiL/wxgd4/ZxDtfc9zJXNOrOsahcvmJOFDwjNUH+JjqvUzzg4emA+2ZmsRlexq5HqAWH/rXsWRZL1typcwV3QjJTkCh4KJo3BCgLjM9sl4vTY+tSJGytRqxV4DMwnyUT0C5TU0fMBGeEiZSQq0DYTDm3hbmnmryEnKJ/vfiaiFzteYw27CB3AbwMqhAbwHlYeiA9LF3pP4RfKGaniTAsfMF3UB8/UvSYBK9H+UgIUiG4d+/wlqd+CrZZR2hvxU7IpXDO4Rv0g1QoIJbKVaQAfpSTASvepYF76oE3GokAsc5iDa/WF9ioRtIUP3T2fsQvwJu+iV1JjFCoZAoVNIlyt0FYTaZdG9dQCmvSIiYyfOVMdjGW0VHDxkUaleD6mHMDZVI4IqNkd6041Q1Vwpq29FWBi/Y2uFWO+dnmPWf+btWlUgLvq2YEgz2Y547SdJVfZBdf9xv+u7RjtSMpkGMYcDtNWNn2Z/Ed7WPpBpQ9kIEP9fxPC7iR/umvQtvlj7wi4Dy6wDzjybcy00yaqRGwcDhBa6e/JaloSikHh6uRonW9gH05Es='

deploy:
  - provider: openshift
    server: $OPENSHIFT_SERVER
    project: ua
    app: api-dev
    token: $OPENSHIFT_TOKEN
    on:
      branch: dev
    edge: true
  - provider: openshift
    server: $OPENSHIFT_SERVER
    project: ua
    app: api-prod
    token: $OPENSHIFT_TOKEN
    on:
      branch: master
    edge: true
