name: CI
on:
  push:
    branches: [master, staging]
  pull_request:
    branches: [master, staging]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - run: yarn --frozen-lockfile
      - run: yarn openapi:check
      - run: yarn openapi:build
      - run: yarn prisma generate
      - run: yarn lint

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - run: yarn --frozen-lockfile
      - run: yarn openapi:build
      - run: yarn prisma generate
      - run: yarn build

  test:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: mysql://test:test@localhost:3306/arena
    services:
      mariadb:
        image: mariadb:10
        env:
          MYSQL_USER: test
          MYSQL_PASSWORD: test
          MYSQL_DATABASE: arena
          MYSQL_RANDOM_ROOT_PASSWORD: yes

        ports:
          - 3306:3306
        options: --name mariadb --health-cmd="mysqladmin ping" --health-interval=1s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - run: yarn --frozen-lockfile
      - run: yarn openapi:build
      - run: yarn prisma generate
      - run: yarn prisma db push --preview-feature
      - run: docker exec -i mariadb mysql -utest -ptest arena < seed.sql
      - run: yarn test:coverage
      - uses: codecov/codecov-action@v1

  deploy:
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/staging'
    runs-on: ubuntu-latest
    needs:
      - lint
      - build
      - test
    env:
      RESOURCE_NAME: ${{ github.ref == 'refs/heads/master' && 'api-prod' || 'api-dev' }}
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
      - uses: actions/cache@v2
        with:
          path: /tmp/.docker-cache
          key: ${{ runner.os }}-docker-${{ hashFiles('**/yarn.lock') }}

      - uses: docker/login-action@v1
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ci
          password: ${{ secrets.REGISTRY_TOKEN }}

      - uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.REGISTRY_URL }}/${{ secrets.REGISTRY_NAMESPACE }}/${{ env.RESOURCE_NAME }}
          cache-from: type=local,src=/tmp/.docker-cache
          cache-to: type=local,dest=/tmp/.docker-cache

      - uses: lazy-actions/slatify@master
        if: always()
        with:
          type: ${{ job.status }}
          job_name: '*Deployment to ${{ env.RESOURCE_NAME }}*'
          commit: true
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
